/*Style the Nav*/
nav{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 800;
    background-color: dimgrey;
    background-size: contain;
    background-position: center;
    padding: 30px; 
}

nav a{
    padding-right: 5px;
    padding-left: 5px;   
    color: black;
}
nav a:hover{
    color: red;
}







/*--re-style the cd title--*/
.cd-intro img{
    width: 500px;
    height: 200px;
}



.cd-title{


}
.cd-title h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 70px;
    font-weight: 900;
    background-image: url(/images/topbgimg.jpg);
    background-position: 50% -60%;
    background-size: cover;
    line-height: 200px;
}

b{
    text-align: center;
}







/*<!--Create menu ection container and style it--*/
#menu{
    margin: auto;
    background-image: url(/images/menubg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 600px;
    text-align: center;
}


/*=======Add the table and style it===========*/
table{
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    background-image: url(/images/menutablebg.jpg);
    width: auto;
}
.tc{
    margin-top: 50px;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 800;
    opacity: .9;
}

/*========tt is the table title row ======*/
.tt{
    text-align: center;
    font-weight: 800;
    font-size: 50px;
}
table{
    opacity: 0.8;
}
tr:hover{
    background-color: bisque;
}
td{
    padding: 10px;
    font-size: 25px;
    font-weight: 800;
}

table caption{
        text-align: center;
    font-weight: 800;
    font-size: 50px;
}

table tr td:nth-child(1){
    color: black;;
}

table tr td:nth-child(2){
    color: white;
}
table tr td:nth-child(4){
    color: darkred;
}



h1{
    font-size: 50px;
    font-weight: 800;
}



/*=============Style form section=========================*/
.con{
    margin: auto;
    width: 70%;
    font-size: 25px;
}


fieldset{
    font-size: 40px;
    font-weight: 300;
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px
}

.contact-intro{
    text-align: center;
    padding: 40px;
    
}
legend{
   margin-left: 40px;
}

label{
    font-weight: 400;
}
input, textarea{
    background-color:antiquewhite;
    margin-bottom: 5px;
    border-radius: 5px;
  
    font-size: 30px
}
.msg-box{
    width: 100%;
}

.form-btn{
    color: darkred;
    background-color: slategray;
}


/*============style the location section====================*/

.loc{
    margin: auto;
    width: 70%;
    min-height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

iframe{
    margin: auto;
    width: 100%;
    min-height: 100%;
}
    